<!-- <div class="container"> -->
<div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">

          <div class="preview-pic tab-content">
              <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src={{mainImageUrl}} /></a></li>

          </div>
          <ul class="preview-thumbnail nav nav-tabs">

            <li *ngFor="let imageUrl of imageUrls; let i = index;"><a (click)="changeImage(i)"><img src={{imageUrl}}/></a></li>

          </ul>

        </div>
        <div class="details col-md-6">
          <h3>Shoes</h3>
          <p>Suspendisse quos? Tempus cras iure temporibus? Eu laudantium cubilia sem sem! Repudiandae et! Massa senectus enim minim sociosqu delectus posuere.</p>
          <h4>price: <span>$180</span></h4>

          <div class="action">
            <button class="btn btn-default" type="button">add to cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
